.loginBtn {

  @apply bg-green-500 hover:bg-green-700 focus:bg-green-700 ;

  @apply transition-colors outline-transparent border p-2 text-white ;

  @apply font-bold uppercase rounded-md disabled:opacity-60 ;

  @apply disabled:hover:bg-green-500 ;

}

.toRegisterBtn {

  @apply text-green-500 outline-transparent border p-2 transition-colors ;

  @apply hover:bg-green-500 hover:text-white text-sm focus:bg-green-500 ;

  @apply focus:text-white border-green-500 bg-transparent font-bold uppercase rounded-md ;

}
